block direct
  each message, i in dms
    li.app--message--me
      .app--avatar(style=`background-image: url(${tweets[0].imgUrl})`)
        img(src="public/images/m-spore.png")
      p.app--message--text #{dms[i].message}
      p.app--message--timestamp #{dms[i].date}
    